@{
    ViewData["Title"] = "Documents";
}

@section DocuBar {
    @await Html.PartialAsync("DocuBar")
}

<section class="DocuBody">
    <section class="docs-main">
        <h1 class="docs-main-title">The ProtonComplier Documentation</h1>
        <h2 class="docs-main-subtitle">Where to go from here?</h2>

        <div class="link-list">
            <a href="Guides" class="link-box">
                <div class="link-icon">🙋</div>
                <div class="link-text">
                    If you want dive into ProtonComplier, learn how to use the compiler and the engine, you should take this way.
                </div>
            </a>

            <a href="Reference" class="link-box">
                <div class="link-icon">📗</div>
                <div class="link-text">
                    If you want to learn about Proton from the slightly dressy but still very nice Language Reference &amp; Guide, you’re right here.
                </div>
            </a>

            <a href="ErrorsAndWarnings" class="link-box">
                <div class="link-icon">📦</div>
                <div class="link-text">
                    Go this way if you want to learn about the advance error handling that ship with ProtonComplier.
                </div>
            </a>
        </div>

        <h2 class="docs-main-subtitle">Improve the Documentation</h2>
        <p class="docs-main-paragraph">
            If you found a mistake or something else that could be improved, you can find this
            <a href="https://github.com/Atoo97/ProtonComplier" target="_blank" rel="noopener">documentation on GitHub</a>.
        </p>
    </section>
</section>
